<% content_for :title do %>About<% end %>
<section class="text-center imagebg space--lg" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="img/landing-21.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <h1>Hi, We're Dinelyy.</h1>
                <p class="lead">
                    An innovative collective of like-minded people eating good food and drinking fine wine.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2>Dinelyy is passion and ingenuity</h2>
                <p class="lead">
                    Dinelyy is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Dinelyy.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <div class="slider border--round" data-arrows="true" data-paging="true">
                    <ul class="slides">
                        <li>
                            <img alt="Image" src="img/gallery-1.jpg" />
                        </li>
                        <li>
                            <img alt="Image" src="img/cowork-1.jpg" />
                        </li>
                        <li>
                            <img alt="Image" src="img/cowork-5.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2>What drives us</h2>
                <p class="lead">
                    Giving your patrons what they want and what they need.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="feature">
                    <h4>Inclusion</h4>
                    <p>
                        Patrons love to eat out, let's not leave them out.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature">
                    <h4>Ingenuity</h4>
                    <p>
                       Building reservation platforms that work well and that are really cool.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature">
                    <h4>Innovation</h4>
                    <p>
                        Our customers love the comfort that comes with six-months free support. Our dedicated support forum makes interacting with us hassle-free and efficient.
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2>Meet the makers</h2>
                <p class="lead">
                    We're the best at what we do because, well we're the best.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="feature feature-8">
                    <img alt="Image" src="img/avatar-round-1.png" />
                    <h5>Reza</h5>
                    <span>Founder &amp; CEO</span>
                    <span>George love to eat and take long walks on the beach with his dog Sport.</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature feature-8">
                    <img alt="Image" src="img/avatar-round-3.png" />
                    <h5>George</h5>
                    <span>Co-Founder &amp; CMO</span>
                    <span>George love to eat and take long walks on the beach with his dog Sport.</span>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="cta">
                    <h2>We're always looking for talent</h2>
                    <p class="lead">
                        Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our talent pool.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="#">
                        <span class="btn__text">
                            See Job Openings
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


