<section class="text-center cta cta-4 space--xxs border--bottom bg--dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="label label--inline">Hot!</span>
                            <span>Over 290 interface blocks, 140 demo pages and Variant Page Builder.
                                <a href="#">Purchase Stack</a> for $17 USD.</span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <h1>Build Something Brilliant.</h1>
                            <p class="lead">
                                Stack's visual style is simple yet distinct, making it an ideal starting point for your project whether it be a basic marketing site, or multi-page company presence.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img alt="pic" src="img/art-2.jpg" />
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Streamline Your Workflow</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" src="img/art-3.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
                                <h2>Perfect for design-concious startups and companies</h2>
                                <p class="lead">
                                    Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                                </p>
                                <a href="#">Learn More &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch feature-large">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" src="img/art-4.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-5 col-md-offset-1">
                            <div class="switchable__text">
                                <h2>Robust, detailed design
                                    <br class="hidden-xs hidden-sm" />from pixel to code</h2>
                                <p class="lead">
                                    Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                                </p>
                                <a href="#">Learn More &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Build perfect pages, easy as pie.</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder">
                                    <img alt="image" src="img/recruitment-4.jpg" />
                                </div>
                                <div class="video-play-icon"></div>
                                <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end video cover-->
                            <span>Variant Page Builder &mdash; used by over
                                <strong>17,000</strong> customers
                                <a target="_blank" href="#">Try Now &nearr;</a>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-5">
                            <ol class="process-3">
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Launch Variant Page Builder</h4>
                                        <p>
                                            Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out.
                                        </p>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Build with interface blocks</h4>
                                        <p>
                                            Select from over 290 interface blocks, customise the look to build your perfect page.
                                        </p>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Export as pure HTML</h4>
                                        <p>
                                            Download your page as a semantic HTML document and easily make further customisations and additions in your editor.
                                        </p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--sm unpad--bottom switchable text-center testimonial testimonial-1 bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <img alt="Image" src="img/avatar-large-1.png" />
                        </div>
                        <div class="col-sm-6">
                            <div class="switchable__text">
                                <blockquote>
                                    &ldquo;There's a feeling of structure that you can't find in other templates &mdash; Stack has become my default template.&rdquo;
                                </blockquote>
                                <h5>Jason Briggs</h5>
                                <span>Envato Customer</span>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="cta cta-1 cta--horizontal boxed boxed--border text-center-xs">
                                <div class="col-md-3 col-md-offset-1 col-sm-4">
                                    <h4>Let's get you started</h4>
                                </div>
                                <div class="col-md-4 col-sm-5">
                                    <p class="lead">
                                        Start building pages in your browser
                                    </p>
                                </div>
                                <div class="col-md-4 col-sm-3 text-center">
                                    <a class="btn btn--primary type--uppercase" href="#">
                                        <span class="btn__text">
                                            Try Builder
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="hidden">
                <div class="modal-instance">
                    <div class="modal-container" data-autoshow='1000'>
                        <div class="modal-content">
                            <section class="imageblock feature-large bg--white border--round ">
                                <div class="imageblock__content col-md-5 col-sm-3 pos-left">
                                    <div class="background-image-holder">
                                        <img alt="image" src="img/cowork-10.jpg" />
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5 col-md-push-6 col-sm-7 col-sm-push-4">
                                            <h2>News, Freebies and More.</h2>
                                            <p class="lead">Subscribe to our monthly mailing list. Strictly useful articles and resources &mdash; no spam.</p>
                                            <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name, email address and agree to the terms.">
                                                <input class="validate-required" type="text" name="NAME" placeholder="Your Name" />
                                                <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address" />
                                                <input class="validate-required" type="checkbox" name="group[13737][1]" />
                                                <span>I have read and agree to the
                                                    <a href="#">terms and conditions</a>
                                                </span>
                                                <button type="submit" class="btn btn--primary type--uppercase">Subscribe To Newsletter</button>
                                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                    <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>
                        </div>
                    </div>
                </div>
                <!--end modal instance-->
