<%# add navigation links to this file %>
<li><strong><%= link_to 'For Restaurants', page_path('for-restaurants'), class:"h6 type--uppercase" %></strong></li>
<li><strong><%= link_to 'Contact', page_path('contact'), class:"h6 type--uppercase" %></strong></li>